#hoverWrap {
    width:150px;
    height: 100px;
    padding: 50px 50px 0 50px;
    position: absolute;
    bottom: 50px;
    right: -25px;
}
#switchMenu {
    width: 50px;
    height:50px;
    cursor: pointer;
    border-radius: 50%;
    background: #00a0da;
    padding-top: 8px;
    box-sizing: border-box;
    div {
        width: 25px;
        height: 3px;
        background: #fff;
        margin: 5px auto;
        border-radius: 1px;
    }
    ul {
        list-style: none;
        display: none;
        position: absolute;
        z-index: 10;
        width: 120px;
        right: 15px;
        bottom: 50px;
        padding: 0;
        margin: 0;
        background: linear-gradient(#003f94, #00a0da);
        border-radius: '5px';
        a {
            display: block;
            font-size: 14px;
            line-height: 19px;
            padding: 5px;
            height: 29px;
            text-align: center;
            color: #ccc;
            background: transparent;
            text-decoration: none;
            opacity: 1;
            &:hover {
                opacity: .7;
            }
        }
    }
}