<!-- 综合实时显示面板 -->
<div id="totalRealtimePanel" class="card left-panel">
  <div class="card-header">
      <i class="iconfont">&#xe603;</i>
      <span>综合实时运行情况</span>
  </div>
  <div class="table-header">
    <table class="tabel">
      <thead>
          <th scope="col">仪器ID</th>
          <th scope="col">仪器状态&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
          <th scope="col">地点</th>
      </thead>
    </table>
  </div>
  <div class="card-body panel-body">
    <table>
      <tbody>
        <ng-container *ngIf="deviceList && deviceList.length">
            <tr *ngFor="let device of deviceList" [ngClass]="{'active': currentDivece == device}">
              <td (click)="clickDevice(device)">{{device.deviceId|slice:0:5}}...{{device.deviceId|slice:-3}}</td>
              <td [ngClass]="{'offline': device.onlineState == '下线' , 'online': device.onlineState == '上线' , 'working': device.onlineState == '工作' , 'alarm': device.onlineState == '报警'}" >{{device.onlineState}}</td>
              <td class="text-right">{{device.areaName}}</td>
            </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>