<div id="main">
  <div id="header" class="col-auto d-flex w-100">
    <div id="header-wrap" class="col">
      <img src="/assets/history/img/tjxx.svg" class="header-logo" alt="">
      <span class="header-title">仪器列表</span>
    </div>
  </div>
  <div class="p20">
      <app-device-list-table></app-device-list-table>
  </div>
</div>
<app-switch-menu></app-switch-menu>