* {
    box-sizing: border-box;
}
.w-100 {
    height:0;
    // padding: 0 60px;
    position: relative;
    z-index: 10;
}

#header {
    height:140px;
    width: 100%;
    padding: 10px;
    border:1px solid rgba(13, 38, 58,0.94);
    // background-image: url('/assets/image/icon/logo-01.svg');
    background-color: #0d263a;
    // background-repeat: no-repeat;
    // background-origin: content-box;
    position: absolute;
    top: -115px;
    z-index: 10;
}


#header.active {
    top: 0;
}

.header-toggle-button {
    width: 100%;
    height: 21px;
    position: absolute;
    bottom:0;
    left:0;
    background-image: url('/assets/image/icon/pop-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transform: rotate(180deg);
}

.title {
    font-size: 22px;
    color: #0071bc;
    margin-left: 20px;
    letter-spacing: 10px;
    line-height: 100px;
}

// 搜索
.address-box {
    background-color: #011933;
    background-clip: content-box;
}
.search-btn {
    height: 28px;
    line-height: 14px;
}

//box
.box {
    margin-top: 25px;
    height: 68px;
    &.box-left {
        border-right: 1px dotted #ccc;
    }
    &.box-right {
        width: 230px;
        margin-left: 10px;
        padding: 4px;
        color:#fff;
        background-color:#011933;
    }
}

// 显示状态部分
.total-list {
    list-style: none;
    font-size:16px;
    color: #fff;
    margin: 0;
    padding:0;
    .total-item {
        display: inline-block;
        margin: 10px 8px 0 8px;
        &:last-child {
            margin-right:0;
        }
        span {
            margin:0 2px;
            vertical-align: middle;
        }
        span.status-title {
            color: #348ecd;
            &.alert-title {
                color:#ca0b10
            }
        }
        span.status-value {
            display: inline-block;
            width: 55px;
            height: 30px;
            background-color: #101933;
        }
    }
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 1px solid #0d5ba5;
    vertical-align: middle;
    background-color: #fff;
    color: #348ecd;
    &:disabled {
        background-color: #fff;
        color: #348ecd;
    }
}

// 筛选部分
.hr-v {
    border-bottom: 1px dotted #ccc;
    margin: 4px 0;
}
.current-select {
    background: linear-gradient(to right,#022744, #004974, #022744);
    padding: 2px 12px;
    height: 26px !important;
    border: 0;
    border-radius: 0;
    color: #9c7c41;
}

.form-check-label {
    margin-left: 5px;
    vertical-align: middle;
}