<div id="header" class="clearfix d-flex" [ngClass]="{'active': actived}">
  <div class="col">
    <img src="/assets/image/icon/logo-01.svg" style="width:auto;height:100%;" alt="">
    <span class="title">仪器实时态势显示</span>
  </div>
  <div class="box box-left" style="width:442px;">
    <div class="row">
      <div class="col-md-9 address-box">
        <ngx-address [(ngModel)]="code" name="address" [options]="opt" (onSelected)="onCustomSelected($event)"></ngx-address>
      </div>
      <div class="col-md-3 text-left"><button class="btn btn-info search-btn" [disabled]="!code" (click)="changeParams(params[0])" >搜索</button></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="total-list">
          <li *ngFor="let status of statusList;let i= index;" class="total-item">
            <input type="checkbox" checked disabled>
            <span class="status-title" [ngClass]="{'alert-title': status.title == '告警'}">
              {{status.title}}
            </span>
            <span class="status-value text-center">
              {{statistics[i]}}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="box box-right" style="width:240px;">
    <div class="row">
      <div class="col-6">
        自选项
      </div>
      <div class="col-6">
        <select [(ngModel)]="type" name="type" id="type" class="form-control current-select" (ngModelChange)="changeParams(params[1])">
          <option *ngFor="let type of types" [value]="type.value">{{type.label}}</option>
        </select>
      </div>
    </div>
    <div class="hr-v"></div>
    <div class="row no-gutters">
      <div class="col-7">
        <!-- <select [(ngModel)]="tool" name="tool" id="tool" class="form-control current-select" style="color:#ccc">
          <option *ngFor="let tool of tools" value="{{tool.value}}">{{tool.label}}</option>
        </select> -->
        
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="centre" >
          <label class="form-check-label" for="exampleCheck1">归心</label>&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="heatMap" (ngModelChange)="heatChange()" >
          <label class="form-check-label" for="exampleCheck1">热力图</label>
        </div>
      </div>
      <div class="col-5">
        <select [(ngModel)]="icon" name="icon" id="icon" class="form-control current-select" style="color:#ccc" (ngModelChange)="changeParams(params[2])">
          <option *ngFor="let icon of icons" [value]="icon.value">{{icon.label}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="header-toggle-button" style="display: block;" (click)="actived=!actived"></div>
</div>