.starSky {
    width: 100%;
    height: 240px;
    margin: auto;
    z-index: 1;
}

.contain {
    /*text-align:center;*/
    top: 48px;
    width: 100%;
    margin: auto;
    /*height: 70px;*/
    z-index: 4;
    position: absolute;
    font-size: 28px;
    line-height: 28px;
    font-family: '微软雅黑';
    color: #ffb91b;
}
.titleFrame {
    top: -45px;
    width: 720px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 3;
}
.bigNumber {
    top: -81px;
    width: 600px;
    height: 80px;
    margin: auto;
    position: relative;
    z-index: 6;
    text-align: center;
    // background: black;
    // box-shadow:
    //         0 -5px 8px -7px rgba(63, 266,241,0.8),
    //         0 -5px 8px -7px rgba(63, 266,241,0.8),
    //         -5px 0 8px -1px  rgba(63, 266,241,0.4),
    //         5px 0 8px -1px  rgba(63, 266,241,0.8);

}
.bigNumberWrap {
    display:inline-block;
    margin: 0 1px;
    padding: 0 13px;
    width:  84px;
    height: 50px;
    line-height: 50px;
    font-size: 33px;
    font-weight: 500;
    color: #ffd1ad;
    letter-spacing: 4px;
    text-align: right;
    background: #021c35;
    border-radius: 4px;
    box-shadow:
            0 -5px 8px -7px rgba(63, 266,241,0.8),
            0 -5px 8px -7px rgba(63, 266,241,0.8),
            -5px 0 8px -1px  rgba(63, 266,241,0.4),
            5px 0 8px -1px  rgba(63, 266,241,0.8);
}


/*上部大数字显示字体*/
.bigNumberText {
    top: 10px;
    text-align: center;
    width: 100%;
    /*height: 50px;*/
    margin: auto;
    /*padding: 0;*/
    font-size: 38px;
    font-family:"Arial";
    letter-spacing: 10px;
    /*font-weight:bold;*/
    color: #ffd1ad;
    position: relative;
    /*top: 165px;*/
    z-index: 7;
    /*left: 790px;*/

}


/*标题字体*/
.titleText {
    top:30px;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    font-size: 50px;
    font-family:"微软雅黑";
    color: #0071bd;
    letter-spacing: 15px;
    font-weight: bold;
    position: absolute;
    z-index: 2;
    /*left: 790px;*/

}

.logo {
    // margin-left:-15px;
    // margin-right:-15px;
    width: 100%;
    height: auto;
    margin-top: 20px;
}
