@import 'header';
#background {
    background: #031931;
    min-height: 100%;
    // overflow: hidden;
}
#wrap {
    background: url('/assets/sys-state/images/bg.jpg') no-repeat;
    background-size: 100%;
}
.mt20 {
    height: 20px;
}