<div id="background" class="w-100"  #wrap>
  <div id="wrap" class="d-flex flex-column w-100 h-100">
    <div id="header" class="text-center col-auto">
      <div class="starSky">
          <div class="row no-gutters">
            <div class="col-md-12">
                <img src="/assets/sys-state/images/logo-01.png" class="logo" alt="">
            </div>
          </div>
        <!-- <div class="titleText">环境监测大数据接入与分析云平台运行状态</div> -->
        <div class="titleFrame">
          <img src="/assets/sys-state/images/tf.svg" width="720px">
          <div class="contain">
            <span class="center">当天累计处理数据（条）：</span>
            <span id="dateText"></span>
          </div>
        </div>
        <div class="bigNumber">
          <!-- <p class="bigNumberText" id="bigNumber">{{totalStr}}</p> -->
          <div *ngFor="let item of totalStrList" class="bigNumberWrap">
            {{item}}
          </div>
        </div>
      </div>
    </div>
    <div id="h-chart" class="col-auto row justify-content-between">
      <div *ngIf="!isLaptop" class="col row">
          <div class="col"></div>
          <div class="col-auto">
            <app-sys-chart *ngIf="emq" [data]="emq" [setting]="emqStting" [index]="'1'"></app-sys-chart>
          </div>
          <div class="col"></div>
      </div>
      <div class="col-md-5 trend-chart" style="margin:0 auto">
        <app-instru-grow-chart></app-instru-grow-chart>
      </div>
      <div *ngIf="!isLaptop" class="col row">
          <div class="col"></div>
          <div class="col-auto">
            <app-sys-chart *ngIf="mysql" [data]="mysql" [setting]="mysqlStting" [index]="'2'"></app-sys-chart>
          </div>
          <div class="col"></div>
      </div>
    </div>
    <div id="v-chart" class="row align-items-center" [ngStyle]="{'padding-top':'20px'}" >
      <div *ngIf="isLaptop" class="col-3"></div>
      <div *ngIf="isLaptop" class="v-chart-box col-4">
          <app-sys-chart *ngIf="emq" [data]="emq" [setting]="emqStting" [index]="'1'"></app-sys-chart>
      </div>
      <div *ngIf="isLaptop" class="col-3"></div>      
      <div *ngIf="isLaptop" class="w-100 mt20"></div>
        
      <div *ngIf="isLaptop" class="col-3"></div>
      <div *ngIf="isLaptop" class="v-chart-box col-4">
          <app-sys-chart *ngIf="mysql" [data]="mysql" [setting]="mysqlStting" [index]="'2'"></app-sys-chart>
      </div>
      <div *ngIf="isLaptop" class="col-3"></div>      
      <div *ngIf="isLaptop" class="w-100 mt20"></div>

      <div *ngIf="isLaptop" class="col-3"></div>
      <div class="v-chart-box col-4">
        <app-sys-chart *ngIf="com" [data]="com" [setting]="comStting" [index]="'3'"></app-sys-chart>
      </div>
      <div *ngIf="isLaptop" class="col-3"></div>      
      <div *ngIf="isLaptop" class="w-100 mt20"></div>

      <div *ngIf="isLaptop" class="col-3"></div>
      <div class="v-chart-box col-4">
        <app-sys-chart *ngIf="mvc" [data]="mvc" [setting]="mvcStting" [index]="'4'"></app-sys-chart>
      </div>
      <div *ngIf="isLaptop" class="col-3"></div>
      <div *ngIf="isLaptop" class="w-100 mt20"></div>
      
      <div *ngIf="isLaptop" class="col-3"></div>
      <div class="v-chart-box col-4">
        <app-sys-chart *ngIf="app" [data]="app" [setting]="appStting" [index]="'5'"></app-sys-chart>
      </div>
    </div>
  </div>
</div>

<app-switch-menu></app-switch-menu>