<!-- <div id="main">
  <div id="canvas-wrapper">
    <canvas id="demo-canvas"></canvas>
  </div>
  <div id="loginWrap" class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 col-md-offset-4">
        <form (ngSubmit)="onSubmit()" #loginform="ngForm" class="form-horizontal">
          <h2>海纳天鹰</h2>
          <div class="form-group">
              <input type="text" id="username" class="form-control" name="username"
                placeholder="请输入用户名" required 
                [(ngModel)]="model.username" #username="ngModel" >
          </div>
          <div class="form-group">
              <input type="password" id="password" class="form-control" name="password"
                placeholder="请输入密码" required 
                [(ngModel)]="model.password" #password="ngModel" >
          </div>
          <div class="form-group">
            <button type="submit" [disabled]="!loginform.valid" class="btn btn-block btn-info">登陆</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
<div style="padding-left:30px;">
  <div>
    <div style='float:left;width:75%'>
      <ngx-datatable
        style="width: 90%"
        class="material"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="10"
        [selected]="selected"
        [selectionType]="'checkbox'"
        [selectAllRowsOnPage]="false"
        [displayCheck]="displayCheck"
        (activate)="onActivate($event)"
        (select)='onSelect($event)'>
        <ngx-datatable-column
          [width]="30"
          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          [headerCheckboxable]="true"
          [checkboxable]="true">
        </ngx-datatable-column>
        <ngx-datatable-column name="Name"></ngx-datatable-column>
        <ngx-datatable-column name="Gender"></ngx-datatable-column>
        <ngx-datatable-column name="Company"></ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
