<!-- 用户显示面板 -->
<div id="userPanel" [ngClass]="{'situtationTopPanel': isLaptop}" class="card left-panel">
  <div class="card-header">
    <i class="iconfont" [ngStyle]="{color:'#02f900'}">&#xe604;</i>
    <span>用户情况</span>
  </div>
  <div class="table-header">
    <table class="tabel">
      <thead>
          <th scope="col">用户名</th>
          <th scope="col">单位</th>
          <th scope="col">交互方式</th>
          <th scope="col">时间</th>
      </thead>
    </table>
  </div>
  <div class="card-body panel-body">
    <table class="tabel">
      <tbody>
        <ng-container *ngIf="userList && userList.length">
          <tr *ngFor="let user of userList">
            <td>{{user.userId|slice:0:1}}...{{user.userId|slice:-2}}</td>
            <td>{{user.unitName}}</td>
            <td>{{user.loginStyle}}</td>
            <td class="text-right">{{user.loginTime}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>