/* 参数超标面板 */
#geogPanel {
    top:665px;
    left: 100px;
    height: 280px;
}
#geogPanel td:nth-child(3) {
    color:#41d5e3;
}
#geogPanel td:nth-child(2) {
    color:#f54b4b;
    font-weight: 800;
}
#geogPanel td:nth-child(4) {
    color:#f54b4b;
    font-weight: 800;
}

/* 左侧显示面板 left-panel */
.left-panel {
    position: absolute;
    border: 1px solid rgb(0, 166, 254);
    border-radius: 12px;
    text-align: center;
    width: 365px;
    color: #fff;
    background: rgba(2,28,53, .5);
    overflow: hidden;
    font-size: 15px;
}
/* panel header */
.left-panel .card-header {
    text-align: left;
    font-size: 14px;
    line-height: 30px;
    background-image: url('/assets/image/icon/show-box.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding:0 5px;
}
.card-header i {
    // font-size: 26px;
    color: yellow;
    vertical-align: middle;
}
.card-header span {
    margin-left:-3px;
}

// 新header放在外面
.table-header {
    padding: 0 1.25rem;
}
/* panel body */
.left-panel .panel-body {
    height: 208px;
    padding-top: 0;
    overflow-y: scroll;
}

/* table */
.left-panel table {
    width: 100%;
    border: none;
    // overflow: hidden;
    position: relative;
    // table head
    table thead {
        color: #4bb0e5;
        overflow:inherit;
        height: 30px;
    }
}


table th {    
    font-size:13px;
}
table th:nth-child(1) {
    color: #E38c24;
    line-height: 25px;
}
.left-panel table tr {
    line-height: 30px;
    height: 30px;
    opacity: .7;  
    transition: opacity .5s ease;
    &.active {
        background: rgba(255,255, 255,.1);
        opacity: 1;   
    }
    &:hover {
        opacity: 1;   
    }
}
table tr td {
    /* color: #fff; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    max-width: 60px;
}
table td:nth-child(1) {
    color: #e4dc28;
    cursor: pointer;
}
table td:nth-child(4) {
    color: #00fb02;
}
table td:nth-child(5) {
    color: #00fb02;
}

table th i.iconfont {
    font-size: 20px;
    color: rgb(33, 163, 221);
    margin-right: 3px;
    font-weight: 100;
    vertical-align: middle;
}