<!-- 综合实时显示面板 -->
<div id="geogPanel" [ngClass]="{'situtationTopPanel': isLaptop}" class="card left-panel">
  <div class="card-header">
    <i class="iconfont" [ngStyle]="{color:'#e36b93'}">&#xe661;</i>
    <span>报警信息情况</span>
  </div>
  <div class="table-header">
    <table class="tabel">
      <thead>
        <th scope="col">仪器ID</th>
        <th scope="col" class="text-left">警告项</th>
        <th scope="col" class="text-left">对比值</th>
        <!-- <th scope="col">当前值</th> -->
        <th scope="col">时间</th>
      </thead>
    </table>
  </div>
  <div class="card-body panel-body">
    <table class="tabel">
      <tbody>
        <ng-container *ngIf="alarmList && alarmList.length">
          <tr *ngFor="let alarm of alarmList">
            <td (click)="clickAlarm(alarm)">{{alarm.instrumentID|slice:0:4}}...{{alarm.instrumentID|slice:-3}}</td>
            <td class="text-left">{{alarm.dataItem}}</td>
            <td>{{alarm.operator}}</td>
            <!-- <td>{{alarm.currentValue}}</td> -->
            <td class="text-right">{{alarm.alarmTime}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>