<div class="row d-flex" [ngStyle]="{paddingTop: '10px'}">
	<div class="col-auto">
		<button class="btn btn-info" (click)="showModel()">搜索</button>
		<button class="btn btn-info" [disabled]="!viewStatus" (click)="view()">图形化显示</button>
  </div>
  <div class="col-auto">
      <div *ngIf="infoObj" class="alert alert-info" [ngStyle]="{margin:0, padding:'6px 20px'}">
        <strong>仪器编号：{{infoObj.instID}}  &nbsp;&nbsp;
                <!-- 仪器型号：{{infoObj.instModel}} &nbsp;&nbsp; -->
                日期：{{infoObj.date}}</strong>
      </div>
  </div>
	<div class="col d-flex text-right ">
		<div class="col"> </div>
		<div *ngIf="count" class="col-auto" [ngStyle]="{height: '31px', padding: '4px 12px'}">总数: {{count}}</div>
		<select name="pageSize" id="pageSize" class="form-control col-auto" [(ngModel)]="pageSize" (ngModelChange)="refresh()" [ngStyle]="{height: '31px', padding: '4px 12px', width: '80px'}">
			<option value="10">10</option>
			<option value="25">25</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select>
	</div>
</div>

<ng-template #template>
	<div class="modal-header">
		<h4 class="modal-title pull-left">工步历史查询
      (
        <ng-container *ngIf="dateIsBefore">基于仪器入口</ng-container>
        <ng-container *ngIf="!dateIsBefore">基于日期入口</ng-container>
      )
    </h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
    <div class="row">
      <!-- <div class="col-md-6">
        <h3>日期选择</h3>
        <dp-day-calendar id="displayDate" 
          theme="dp-material" 
          [(ngModel)]="displayDate" 
          (ngModelChange)="log($event)"
          [config]="{format: 'YYYY-MM-DD', locale: config.locale}"
          placeholder="选择日期">
        </dp-day-calendar>
      </div> -->
      <div [ngClass]="{'order-12': dateIsBefore,'order-1': !dateIsBefore}" class="col-md-7">
        <app-calendar-panel *ngIf="dateIsBefore && instrumentId" [dateIsBefore]="dateIsBefore" [deviceId]="instrumentId" [(clickedDate)]="selectDate" #panel1></app-calendar-panel>
        <app-calendar-panel *ngIf="!dateIsBefore" [dateIsBefore]="dateIsBefore" [(clickedDate)]="selectDate" (deviceListChange)="changeDeviceList($event)" #panel2></app-calendar-panel>
      </div>
      <div class="col-md-1 text-center order-6">
          <i class="iconfont switchBtn" (click)="switchSearch()" data-toggle="tooltip" data-placement="top" title="切换选择方式">&#xe61b;</i>
      </div>
      <div [ngClass]="{'order-1': dateIsBefore,'order-12': !dateIsBefore}" class="col-md-4">
        <h3>仪器选择</h3>
        <div *ngIf="instruList">
          <ng-select [items]="instruList" bindLabel="deviceId" bindValue="deviceId" placeholder="选择仪器" labelForId="instruList" [virtualScroll]="true"
            [(ngModel)]="instrumentId" #photo="ngModel" name="photo">
            <ng-template ng-label-tmp let-item="item">
              <span>{{item.deviceId}}</span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
              <span [ngOptionHighlight]="search">{{item.deviceId}}</span>
            </ng-template>
          </ng-select>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary" [disabled]="!instrumentId || !selectDate" (click)="refresh()">搜索</button>
      </div>
    </div>
	</div>
</ng-template>