<div class="card">
  <div class="card-header">
      最近一周通知折线图
  </div>
  <div class="card-body">
      <div echarts [options]="lineoption" [merge]="updateLineoption" class="demo-chart" style="height:258px;"></div>
  </div>
</div>