<div id="main" class="d-flex flex-column w-100 h-100">
    <div id="chart-wrap" class="col-auto row">
        <div class="col-md-6">
            <app-week-warning-chart></app-week-warning-chart>
        </div>
        <div class="col-md-6">
            <app-rank-warning-chart></app-rank-warning-chart>
        </div>
    </div>
    <div id="table-wrap">
        <div style="background: #fff;">
            <app-warning-list-table *ngIf="data && data.length" [data]="data" ></app-warning-list-table>
            <app-holder *ngIf="!data || !data.length"></app-holder>
        </div>
    </div>
</div>

<app-switch-menu></app-switch-menu>