#main {    
    background: #012849;
}
#chart-wrap {
    height: 389px;
    padding: 20px;
    box-sizing: border-box;
}
#table-wrap {
    padding: 20px;
    background: #012849;
    // background-clip: content-box;
}