<div class="h-100 d-flex flex-column" [ngStyle]="{paddingTop: '10px'}">
  <div class="row col-auto">
    <div class="col-md-2">
      <span class="form-control">当前仪器：{{deviceId}}</span>
    </div>
    <div class="col-xs-12 col-12 col-md-3 form-group">
        <input
          class="form-control"
          #drp="bsDaterangepicker" bsDaterangepicker
          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
          [(ngModel)]="bsRangeValue">
    </div>
    <div class="col-md-2">
      <button class="btn btn-info" [disabled]="!bsRangeValue.length" (click)="refresh()" >搜索</button>
      <button class="btn btn-info" [disabled]="!tracklist || !tracklist.length || showMap" (click)="initMap()" >查看地图</button>
    </div>
  </div>
  <div class="row col">
    <div *ngIf="tracklist && showMap" class="col-md-9 h-100">
      <baidu-map [options]="opts" (loaded)="loadMap($event)">
        <control type="navigation" [options]="controlOpts"></control>
        <control type="scale" [options]="scaleOpts"></control>
        <ng-container *ngIf="markers && markers.length">
          <marker *ngFor="let marker of markers; let i = index;" [point]="marker.point" [options]="marker.options" (clicked)="showWindow($event, i)"
            (loaded)="loadMarker($event, i)"></marker>
        </ng-container>
      </baidu-map>
    </div>
    <div class="h-100 col-12" [ngClass]="{'col-md-3': tracklist && showMap}" >
      <app-track-table *ngIf="tracklist" [data]="tracklist" (clickItem)="selectDevice($event)"></app-track-table>
      <ng-container *ngIf="markers && markers.length == markerList.length">
        <label for="followBtn">轨迹连线:&nbsp;</label>
        <input id="trackfollow" type="checkbox" name="trackfollow" [checked]="linecheck" (change)="toggleLine()" title="轨迹连线" style="margin-right:10px;margin-top:2px;"> 
      </ng-container>
    </div>
  </div>
</div>