<app-layout-fluid>
	<div class="h-100" style="background: #eeeeee;">
		<section class="container clearfix">
	        <div class="center-block pt50 mw800">
	          <h1 class="error-title"> 404! </h1>
	          <h2 class="error-subtitle">Page Not Found.</h2>
	        </div>
	        <div class="mid-section">

	        </div>
      </section>
	</div>
</app-layout-fluid>