<a *ngIf="item.url" routerLink="{{item.url}}" class="div_transform1">
  <div class="text_hover" style="transition: all 0.5s ease-in 0s;">
    <div class="select_icons">
      <img src="{{item.imgUrl}}">
    </div>
    <p class="func_name">{{item.title}}</p>
    <p class="func_intro" style="transition: all 0.5s ease-in 0s;">{{item.info}}</p>
  </div>
</a>
<a *ngIf="item.href" href="{{item.href}}" class="div_transform1">
  <div class="text_hover" style="transition: all 0.5s ease-in 0s;">
    <div class="select_icons">
      <img src="{{item.imgUrl}}">
    </div>
    <p class="func_name">{{item.title}}</p>
    <p class="func_intro" style="transition: all 0.5s ease-in 0s;">{{item.info}}</p>
  </div>
</a>