a {
    display: block;
    text-decoration: none;
    .text_hover {
        margin-top: 40px;
    }
}
a:hover {
    .text_hover {
        margin-top: 20px;
    }
    .func_intro {
        opacity: 1;
    }
}
[class^="div_transform"] {
    margin: 20px 7px 0px 7px;
    width: 189px;
    height: 195px;
    border-radius: 12px;
    box-shadow: 2px 2px 1px black;
    float: left;
    position: relative;
}
[class^="div_transform"]:hover {
    background: #f7931e;
    transition: 0.5s ease-in 0s;
}
.div_transform1 {
    background: linear-gradient(#01274c,#002d58);
}
.select_icons {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}
.func_name {
    color: white;
    font-family: "微软雅黑 Light",serif;
    font-size: 16px;
    text-align: center;
    margin: 10px auto;
}
.func_intro {
    color: white;
    font-family: "微软雅黑 Light",serif;
    font-size: 14px;
    width: 180px;
    text-align: center;
    line-height: 24px;
    margin: 0 auto;
    opacity: 0;
}