<app-import [title]="title" [type]="type" >
    <!-- <alert *ngIf="alertModel" [model]="alertModel"></alert> -->
    <div class="row mb15">
      <div class="col-md-3 offset-md-9">
        <a type="button" href="./assets/excel/上传仪器批量模板.xlsx" class="btn btn-info btn-block">下载模板</a>
      </div>
    </div>
    
    <form (ngSubmit)="onSubmit()" #importProductform="ngForm" class="form-horizontal">
      <div class="form-group row">
        <div class="col-md-9 col-xs-9">			
            <span class="form-control" >{{fileName}}&nbsp;</span>
        </div>
        <div class="col-md-3">
          <label class="input-group-addon btn-file" [ngStyle]="{height: '39px', 'background-color': '#1ab394', 'border':'#1ab394', 'color':'#ffffff'}">
              <input type="file" accept=".xlsx" name="packageUrl" class="hidden" (change)="fileChangeEvent($event)" id="packageUrl" required />
              <button class="btn btn-success btn-block">选择上传文件 (*.xlsx)</button>
          </label>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-9">
          <div class="progress" *ngIf="!progress" [ngStyle]="{marginTop: '10px', marginBottom: '9px'}">
            <div class="progress-bar progress-bar-default progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: '100%'}" >
              <span class="sr-only">{{progress}}% Complete</span>
            </div>
          </div>
          <div *ngIf="progress" [ngStyle]="{marginTop: '10px'}">
            <!-- <app-progress *ngIf="progress" [progress]="progress"></app-progress> -->
          </div>
        </div>		
        <div class="col-md-3">
                <button type="submit" class="btn btn-hover btn-primary btn-block" [disabled]="!importProductform.form.valid || !isFile"> 上传导入 </button>
        </div>
      </div>
    </form>
</app-import>