<div class="card">
    <div class="card-header">
        仪器告警历史排行
    </div>
    <div class="card-body">
        <div echarts [options]="baroption" [merge]="updateBaroption" class="demo-chart" style="height:258px;"></div>
    </div>
  </div>