<div class="row">
    <div class="offset-md-5 col-md-7 d-flex text-right ">           
        <div class="col"> </div>   
        <div class="col-auto">
            <button type="button" class="btn btn-primary btn-sm active" [routerLink]="['add']"><i class="iconfont">&#xe646;</i>仪器注册</button>
            <button type="button" class="btn btn-primary btn-sm active" [routerLink]="['import']"><i class="iconfont">&#xe6a5;</i> 批量注册仪器</button>
        </div>      
        <div *ngIf="count" class="col-auto" [ngStyle]="{height: '31px', padding: '4px 12px'}">总数: {{count}}</div>
        <select name="pageSize" id="pageSize" class="form-control col-auto" [(ngModel)]="pageSize" (ngModelChange)="refresh()" [ngStyle]="{height: '31px', padding: '4px 12px', width: '80px'}" >
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
</div>
<app-common-table *ngIf="data" [columns]="columns" [data]="data" [config]="config" [itemsPerPage]="pageSize" [showSerach]="false" (cellClick)="cellClick($event)" [count]="count" [paging]="true" (pagingChange)="pagingChange($event)"></app-common-table>