<app-situation-card [devMeasure]="devMeasure" [currentDevice]="currentDevice" (removeSelect)="close($event)" >
  <tabset #staticTabs>
    <tab *ngFor="let item of data" [heading]="format(item.key)">
        <div class="chartWrap">
            <app-common-line-chart [data]="item.value"></app-common-line-chart>
        </div>
    </tab>
  </tabset>
</app-situation-card>