<div class="row" [ngStyle]="{paddingTop: '10px'}" >
    <div class="col-xs-12 col-12 col-md-2" >
        <input
        class="form-control"
        placeholder="时间筛选"
        #drp="bsDaterangepicker" bsDaterangepicker
        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' , containerClass: 'historydaterange theme-green'}"
        [(ngModel)]="bsRangeValue">
    </div>
    <div *ngIf="photos" class="col-xs-12 col-12 col-md-2">
        <ng-select [items]="photos"
                   bindLabel="deviceId"
                   bindValue="deviceId"
                   placeholder="选择仪器"
                   labelForId="photos"
                   [virtualScroll]="true"
                   [(ngModel)]="instrumentId"
                   #photo="ngModel" name="photo">
            <ng-template ng-label-tmp let-item="item">
                <span >{{item.deviceId}}</span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <span [ngOptionHighlight]="search">{{item.deviceId}}</span>
            </ng-template>
        </ng-select>
    </div>
    <div class="col-md-2">
        <button class="btn btn-info" [disabled]="!bsRangeValue.length && !instrumentId" (click)="refresh()" >搜索</button>
    </div>
    <div class="col-md-6 d-flex text-right ">           
        <div class="col"> </div>         
        <div *ngIf="count" class="col-auto" [ngStyle]="{height: '31px', padding: '4px 12px'}">总数: {{count}}</div>
        <select name="pageSize" id="pageSize" class="form-control col-auto" [(ngModel)]="pageSize" (ngModelChange)="refresh()" [ngStyle]="{height: '31px', padding: '4px 12px', width: '80px'}" >
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
</div>
<app-common-table *ngIf="data" [columns]="columns" [data]="data" [config]="config" [itemsPerPage]="pageSize" [showSerach]="false" (cellClick)="cellClick($event)" [count]="count" [paging]="true" (pagingChange)="pagingChange($event)"></app-common-table>