
<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
  <small style="margin: 5px" *ngIf="day.inMonth">
    <span *ngIf="!outNumber(day.date)" class="badge  badge-secondary" [ngStyle]="{'font-size': '18px'}" >{{outNumber(day.date)}}</span>
    <span *ngIf="outNumber(day.date)" class="badge  badge-info" [ngStyle]="{'font-size': '18px'}" >{{outNumber(day.date)}}</span>
  </small>
</ng-template>

<mwl-calendar-month-view
  [viewDate]="viewDate"
  [events]="events"
  [locale]="locale"
  [weekStartsOn]="weekStartsOn"
  [weekendDays]="weekendDays"
  [cellTemplate]="customCellTemplate"
  (dayClicked)="clickDate($event)">
</mwl-calendar-month-view>