<div class="row d-flex" [ngStyle]="{paddingTop: '10px'}">
	<div class="col-md-2">
		<button class="btn btn-info" (click)="showModel()">搜索</button>
	</div>
	<div class="col d-flex text-right ">
		<div class="col"> </div>
		<div *ngIf="count" class="col-auto" [ngStyle]="{height: '31px', padding: '4px 12px'}">总数: {{count}}</div>
		<select name="pageSize" id="pageSize" class="form-control col-auto" [(ngModel)]="pageSize" (ngModelChange)="refresh()" [ngStyle]="{height: '31px', padding: '4px 12px', width: '80px'}">
			<option value="10">10</option>
			<option value="25">25</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select>
	</div>
</div>

<ng-template #template>
	<div class="modal-header">
		<h4 class="modal-title pull-left">工步历史查询</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<ngx-stepper #stepperDemo="stepper" [options]="options">
			<ngx-step [label]="'请选择搜索模式'">
				<ngx-step-body>
					<div class="step-box">
						<div class="form-group">
							<span class="switch switch-sm">
								<input type="checkbox" class="switch" id="switch-sm" [(ngModel)]="isTime" (ngModelChange)="toggleTimeType($event)" name="view"
								 #view="ngModel">
								<label for="switch-sm">
									按时间搜索
								</label>
							</span>
						</div>
						<div class="form-group">
							<span class="switch switch-sm">
								<input type="checkbox" class="switch" id="switch-sm" [(ngModel)]="isInstr" (ngModelChange)="toggleInstrType($event)" name="view"
								 #view="ngModel">
								<label for="switch-sm">
									按仪器搜索
								</label>
							</span>
						</div>
					</div>
				</ngx-step-body>
				<ngx-step-actions>
					<button class="btn btn-primary" (click)="stepperDemo.back()">取消</button>
					<button class="btn btn-primary" (click)="stepperDemo.next()">下一步</button>
				</ngx-step-actions>
			</ngx-step>
			<ngx-step [label]="'输入搜索条件'">
				<ngx-step-body>
					<div class="step-box">
						<ng-container *ngIf="isTime">
							<div class="form-group row">
								<label for="" class="col-md-4 col-form-label">选择日期</label>
								<div class="col-md-8">
									<dp-date-picker id="displayDate" theme="dp-material" [(ngModel)]="displayDate" [displayDate]="displayDate" mode="day" [config]="{format: 'YYYY-MM-DD', locale: config.locale}"
									 placeholder="选择日期">
									</dp-date-picker>
								</div>
							</div>
							<div class="form-group row">
								<label for="" class="col-md-4 col-form-label">选择开始时间</label>
								<div class="col-md-8">
									<dp-date-picker id="minTimeValidation" [disabled]="!displayDate" theme="dp-material" [(ngModel)]="validationMinTime" mode="time"
									 [config]="{format: 'HH:mm:ss', locale: config.locale}" placeholder="开始时间">
									</dp-date-picker>
								</div>
							</div>
							<div class="form-group row">
								<label for="" class="col-md-4 col-form-label">选择结束时间</label>
								<div class="col-md-8">
									<dp-date-picker id="maxTimeValidation" [disabled]="!displayDate || !validationMinTime" theme="dp-material" [(ngModel)]="validationMaxTime"
									 mode="time" [config]="{format: 'HH:mm:ss', locale: config.locale}" (onChange)="checkTime()" placeholder="结束时间">
									</dp-date-picker>
								</div>
							</div>
							<span [ngStyle]="{color: 'red'}">{{message}}</span>
						</ng-container>
						<ng-container *ngIf="isInstr">
							<div *ngIf="instruList">
								<ng-select [items]="instruList" bindLabel="deviceId" bindValue="deviceId" placeholder="选择仪器" labelForId="instruList" [virtualScroll]="true"
								 [(ngModel)]="instrumentId" #photo="ngModel" name="photo">
									<ng-template ng-label-tmp let-item="item">
										<span>{{item.deviceId}}</span>
									</ng-template>
									<ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
										<span [ngOptionHighlight]="search">{{item.deviceId}}</span>
									</ng-template>
								</ng-select>
							</div>
						</ng-container>
					</div>
				</ngx-step-body>
				<ngx-step-actions>
					<button class="btn btn-primary" (click)="stepperDemo.back()">上一步</button>
					<button class="btn btn-primary" *ngIf="isTime" [disabled]="!invalid" (click)="stepperDemo.next()">下一步</button>
					<button class="btn btn-primary" *ngIf="isInstr" [disabled]="!instrumentId" (click)="stepperDemo.next()">下一步</button>
				</ngx-step-actions>
			</ngx-step>
			<ngx-step [label]="'输入搜索条件'">
				<ngx-step-body>
					<div class="step-box">
						<ng-container *ngIf="isInstr">
								<div class="form-group row">
									<label for="" class="col-md-4 col-form-label">选择日期</label>
									<div class="col-md-8">
										<dp-date-picker id="displayDate" theme="dp-material" [(ngModel)]="displayDate" [displayDate]="displayDate" mode="day" [config]="{format: 'YYYY-MM-DD', locale: config.locale}"
										 placeholder="选择日期">
										</dp-date-picker>
									</div>
								</div>
								<div class="form-group row">
									<label for="" class="col-md-4 col-form-label">选择开始时间</label>
									<div class="col-md-8">
										<dp-date-picker id="minTimeValidation" [disabled]="!displayDate" theme="dp-material" [(ngModel)]="validationMinTime" mode="time"
										 [config]="{format: 'HH:mm:ss', locale: config.locale}" placeholder="开始时间">
										</dp-date-picker>
									</div>
								</div>
								<div class="form-group row">
									<label for="" class="col-md-4 col-form-label">选择结束时间</label>
									<div class="col-md-8">
										<dp-date-picker id="maxTimeValidation" [disabled]="!displayDate || !validationMinTime" theme="dp-material" [(ngModel)]="validationMaxTime"
										 mode="time" [config]="{format: 'HH:mm:ss', locale: config.locale}" (onChange)="checkTime()" placeholder="结束时间">
										</dp-date-picker>
									</div>
								</div>
								<span [ngStyle]="{color: 'red'}">{{message}}</span>
						</ng-container>
						<ng-container *ngIf="isTime">
							<div *ngIf="instruList">
								<ng-select [items]="instruList" bindLabel="deviceId" bindValue="deviceId" placeholder="选择仪器" labelForId="instruList" [virtualScroll]="true"
								 [(ngModel)]="instrumentId" #photo="ngModel" name="photo">
									<ng-template ng-label-tmp let-item="item">
										<span>{{item.deviceId}}</span>
									</ng-template>
									<ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
										<span [ngOptionHighlight]="search">{{item.deviceId}}</span>
									</ng-template>
								</ng-select>
							</div>
						</ng-container>
					</div>
				</ngx-step-body>
				<ngx-step-actions>
					<button class="btn btn-primary" (click)="stepperDemo.back()">上一步</button>
					<button class="btn btn-primary" *ngIf="isInstr" [disabled]="!invalid" (click)="refresh()">下一步</button>
					<button class="btn btn-primary" *ngIf="isTime" [disabled]="!instrumentId" (click)="refresh()">搜索</button>
				</ngx-step-actions>
			</ngx-step>
		</ngx-stepper>
	</div>
</ng-template>