<div id="main" class="h-100">
  <div class="header">
      <h1><i class="iconfont text-primary">&#xe603;</i>        
        <ng-container *ngIf="statusType == 'Add'"><span>新增仪器</span></ng-container>
        <ng-container *ngIf="statusType == 'Edit'"><span>编辑仪器</span></ng-container>
      </h1>
  </div>
  <div class="container" [ngStyle]="{paddingTop: '30px'}" >
      <form *ngIf="model" (ngSubmit)="onSubmit()" #deviceform="ngForm" class="form-horizontal">
        <div class="card">
          <div *ngIf="statusType == 'Edit'" class="card-header d-flex justify-content-between" >        
              <ng-container>
                  <span class="switch switch-sm">
                    <input type="checkbox" class="switch" id="switch-sm" [(ngModel)]="isView" name="view" #view="ngModel">
                    <label for="switch-sm">
                      <ng-container *ngIf="isView">查看</ng-container>
                      <ng-container *ngIf="!isView">编辑</ng-container>
                    </label>
                  </span>
              </ng-container>
          </div>
          <div class="card-body">
              <div class="form-group row">
                  <label for="deviceId" class="col-md-2 control-label">仪器Id&nbsp;*</label>
                  <div *ngIf="isView" class="col-md-10">
                    <span class="form-control">{{model.deviceId}}</span>
                  </div>
                  <div *ngIf="!isView" class="col-md-10">
                    <input type="text" class="form-control" id="deviceId" [value]="model.deviceId" required [(ngModel)]="model.deviceId" name="deviceId" #deviceId="ngModel"
                    />
                    <div [hidden]="deviceId.valid || !deviceId?.errors?.required || !deviceId.touched" class="alert alert-danger">仪器名称不能为空</div>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="proNumber" class="col-md-2 control-label">出厂编号</label>
                  <div *ngIf="isView" class="col-md-10">
                    <span class="form-control">{{model.proNumber}}</span>
                  </div>
                  <div *ngIf="!isView" class="col-md-10">
                    <input type="text" class="form-control" id="proNumber" [value]="model.proNumber" [(ngModel)]="model.proNumber" name="proNumber" #proNumber="ngModel" />
                  </div>
              </div>
              <div class="form-group row">
                  <label for="type" class="col-md-2 control-label">仪器类型&nbsp;*</label>
                  <div *ngIf="isView" class="col-md-10">
                    <span class="form-control">
                      <ng-container *ngFor="let type of typelists">
                        <ng-container *ngIf="type.value == model.type">{{type.title}}&nbsp;</ng-container>
                      </ng-container>
                    </span>
                  </div>
                  <div *ngIf="!isView" class="col-md-10">
                    <select required class="form-control" id="type" [(ngModel)]="model.type" name="type">
                      <option *ngFor="let type of typelists" [value]="type.value">{{type.title}}</option>
                    </select>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="name" class="col-md-2 control-label">仪器名称&nbsp;*</label>
                  <div *ngIf="isView" class="col-md-10">
                    <span class="form-control">{{model.name}}</span>
                  </div>
                  <div *ngIf="!isView" class="col-md-10">
                    <input type="text" class="form-control" id="name" [value]="model.name" required [(ngModel)]="model.name" name="name" #name="ngModel"
                    />
                    <div [hidden]="name.valid || !name?.errors?.required || !name.touched" class="alert alert-danger">仪器名称不能为空</div>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="type" class="col-md-2 control-label">生产单位&nbsp;*</label>
                  <div *ngIf="isView" class="col-md-10">
                    <span class="form-control">
                      <ng-container *ngFor="let unit of units">
                        <ng-container *ngIf="unit.value == model.proUnitId">{{unit.title}}&nbsp;</ng-container>
                      </ng-container>
                    </span>
                  </div>
                  <div *ngIf="!isView" class="col-md-10">
                    <select required class="form-control" id="type" [(ngModel)]="model.proUnitId" name="proUnitId">
                      <option *ngFor="let unit of units" [value]="unit.value">{{unit.title}}</option>
                    </select>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="type" class="col-md-2 control-label">购买单位&nbsp;*</label>
                  <div *ngIf="isView" class="col-md-10">
                    <span class="form-control">
                      <ng-container *ngFor="let type of units">
                        <ng-container *ngIf="type.value == model.purUnitId">{{type.title}}</ng-container>
                      </ng-container>
                    </span>
                  </div>
                  <div *ngIf="!isView" class="col-md-10">
                    <select required class="form-control" id="type" [(ngModel)]="model.purUnitId" name="purUnitId">
                      <option *ngFor="let unit of units" [value]="unit.value">{{unit.title}}</option>
                    </select>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="identify" class="col-md-2 control-label">唯一标识符</label>
                  <div *ngIf="isView" class="col-md-10">
                    <span class="form-control">{{model.identify}}</span>
                  </div>
                  <div *ngIf="!isView" class="col-md-10">
                    <input type="text" class="form-control" id="identify" [value]="model.identify" [(ngModel)]="model.identify" name="identify" #identify="ngModel" />
                  </div>
              </div>
              <div class="form-group row">
                  <label for="tdCode" class="col-md-2 control-label">仪器二维码</label>
                  <div *ngIf="isView" class="col-md-10">
                    <span class="form-control">{{model.tdCode}}</span>
                  </div>
                  <div *ngIf="!isView" class="col-md-10">
                    <input type="text" class="form-control" id="tdCode" [value]="model.tdCode" [(ngModel)]="model.tdCode" name="tdCode" #tdCode="ngModel" />
                  </div>
              </div>
              <div class="form-group row">
                  <label for="proDate" class="col-md-2 control-label">生产日期</label>
                  <div class="col-xs-10 col-md-10 col-lg-10">
                    <input
                      class="form-control"
                      #dpYMD="bsDatepicker"
                      bsDatepicker
                      name="dpYMD"
                      [(ngModel)]="model.proDate"
                      [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
                  </div>
              </div>
              <div class="form-group row">
                  <label for="purDate" class="col-md-2 control-label">购买日期</label>
                  <div class="col-xs-10 col-md-10 col-lg-10">
                    <input
                      class="form-control"
                      #dpYMD2="bsDatepicker"
                      bsDatepicker
                      name="dpYMD2"
                      [(ngModel)]="model.purDate"
                      [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
                  </div>
              </div>
              <div class="form-group row">
                  <label for="guaPeriod" class="col-md-2 control-label">质保期(月)</label>
                  <div *ngIf="isView" class="col-md-10">
                    <span class="form-control">{{model.guaPeriod}}</span>
                  </div>
                  <div *ngIf="!isView" class="col-md-10">
                    <input type="number" class="form-control" id="guaPeriod"
                      onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" 
                      [min]="0" [max]="36"
                      [value]="model.guaPeriod" [(ngModel)]="model.guaPeriod" name="guaPeriod" #guaPeriod="ngModel"
                    />
                    <div *ngIf="(guaPeriod.touched || guaPeriod.dirty) && guaPeriod.errors?.min" class="alert alert-danger">不小于0</div>
                    <div *ngIf="(guaPeriod.touched || guaPeriod.dirty) && guaPeriod.errors?.max" class="alert alert-danger">不大于36</div>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="remark1" class="col-md-2 control-label">备注1</label>
                  <div *ngIf="isView" class="col-md-10">
                    <span class="form-control">{{model.remark1}}&nbsp;</span>
                  </div>
                  <div *ngIf="!isView" class="col-md-10">
                    <input type="text" class="form-control" id="remark1" [value]="model.remark1" [(ngModel)]="model.remark1" name="remark1" #remark1="ngModel" />
                  </div>
              </div>
              <div class="form-group row">
                  <label for="remark2" class="col-md-2 control-label">备注2</label>
                  <div *ngIf="isView" class="col-md-10">
                    <span class="form-control">{{model.remark2}}&nbsp;</span>
                  </div>
                  <div *ngIf="!isView" class="col-md-10">
                    <input type="text" class="form-control" id="remark2" [value]="model.remark2" [(ngModel)]="model.remark2" name="remark2" #remark2="ngModel" />
                  </div>
              </div>
              <alert *ngIf="alertModel" [model]="alertModel"></alert>
              <div *ngIf="!isView" class="hr-line-dashed"></div>
              <div *ngIf="!isView" class="form-group">
                  <div class="text-right">
                      <button type="button" class="btn btn-white" (click)="returnPrev()">取消</button>
                      <button type="submit" class="btn btn-primary" [disabled]="!deviceform.form.valid">{{btnSubmitText}}</button>
                  </div>
              </div>
          </div>
        </div>
      </form>
  </div>
</div>
<app-switch-menu></app-switch-menu>