// @import 'header';

#main {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(#021930, #002e5a, #021930);
    // padding: 0 60px;
}

baidu-map {
    width: 800px;
    height: 290px;
}


#header .title {
    font-size: 22px;
    color: #0071bc;
    margin-left: 160px;
    letter-spacing:10px;
    line-height: 100px;
}

// #single-panel-list {
//     position: absolute !important;
//     top:230px;
//     right: 180px;
// }