<app-layout-fluid>
  <div class="w-100">
    <app-situation-header [statistics]="statistics" [params]="params" [(centre)]="centre" (heatMapChange)="heatMapChange($event)" (changeItem)="changeItem($event)" ></app-situation-header>
  </div>
  <div id="main"  #wrap>
    <baidu-map [options]="opts" (loaded)="loadMap($event)">
      <control type="navigation" [options]="controlOpts"></control>
      <!-- <control type="overviewmap" [options]="overviewmapOpts"></control> -->
      <control type="scale" [options]="scaleOpts"></control>
      <control type="maptype" [options]="mapTypeOpts"></control>
      <ng-container *ngIf="markers && markers.length">
        <marker *ngFor="let marker of markers; let i = index;" [point]="markers[i].point" [options]="markers[i].options" (clicked)="showWindow($event, i)"
          (loaded)="loadMarker($event,i)"></marker>
      </ng-container>
    </baidu-map>
    <app-total-realtime-panel [hidden]="!showTotalPanel"  [currentDivece]="currentDevice" [deviceList]="deviceList" (selectDevice)="selectDevice($event)"></app-total-realtime-panel>
    <app-geog-panel [isLaptop]="isLaptop" [hidden]="!showGeogPanel" [alarmList]="alarmList" (selectDevice)="selectDevice($event)"></app-geog-panel>
    <app-user-panel [isLaptop]="isLaptop" [hidden]="!showUserPanel" [userList]="userList" (selectDevice)="selectDevice($event)"></app-user-panel>
    <ng-container>
      <div id="single-panel-list">
        <app-select-single-panel *ngFor="let devmeasure of devMeasures;let i=index" [devMeasure]="devMeasures[i]" [currentDevice]="currentDevice" [measure]="devMeasures[i].measures" (removeSelect)="closeOrSelectWindow($event, i)" ></app-select-single-panel>
      </div>
    </ng-container>
    <app-panel-toggle-wrap [(showTotalPanel)]="showTotalPanel" [(showGeogPanel)]="showGeogPanel" [(showUserPanel)]="showUserPanel" [isLaptop]="isLaptop"></app-panel-toggle-wrap>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</app-layout-fluid>