@import 'header';

#main {
    margin-top: -8px;
}

// 隐藏bootstrap默认tab按钮
.nav.nav-tabs {
    display: none !important;
}

/* tabs */
.tab-list {
    height: 150px;
    padding: 35px 0; 
    box-sizing: border-box;
    text-align: right;
}
.tab-list-item{
    display:inline-block;
    margin: 0 10px;
    width: 120px;
    height: 80px;
    cursor: pointer;
    opacity: 0.5;
}
.tab-list-item:hover {
    opacity: 0.8;
}
.tab-list-item.active {
    opacity: 1;
}
.tab-list-item img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.tab-title {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #fff;
}