<div class="h-100 w-100">
  <div class="d-flex flex-column w-100 h-100">
    <div id="header" class="col-auto d-flex w-100">
      <div id="header-wrap" class="col">
        <img src="/assets/history/img/sbbs.svg" class="header-logo" alt="">
        <span class="header-title">仪器部署历史查询</span>
      </div>
      <div id="col-auto">
        <ul class="tab-list">
          <li class="tab-list-item" [ngClass]="{'active': tab_id == 0}" (click)="switchTab(0)">
            <img src="/assets/history/img/lbxx.svg" width="50" height="50" alt="">
            <p class="tab-title">仪器位置列表</p>
          </li>
          <!-- <li class="tab-list-item" (click)="switchTab(1)">
            <img src="/assets/history/img/lssj.svg" width="50" height="50" alt="">
            <p class="tab-title">仪器位置溯源</p>
          </li> -->
          <li class="tab-list-item" [ngClass]="{'active': tab_id == 2}" (click)="switchTab(2)">
            <img src="/assets/history/img/hjls.svg" width="50" height="50" alt="">
            <p class="tab-title">仪器部署轨迹</p>
          </li>
        </ul>
      </div>
    </div>
    <div id="main" class="col d-flex">
      <tabset #staticTabs class="w-100 h-100">
          <tab class="h-100">
            <app-list-tab [(instrumentId)]="instrumentId"></app-list-tab>
          </tab>
          <tab class="h-100">
            <app-map-tab></app-map-tab>
          </tab>
          <tab class="h-100">
            <app-track-tab *ngIf="instrumentId" [deviceId]="instrumentId"></app-track-tab>
          </tab>
      </tabset>
    </div>
  </div>
</div>

<app-switch-menu></app-switch-menu>