<!-- <link href="https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
<!-- <link href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.css" rel="stylesheet"> -->
<link href="https://unpkg.com/angular-calendar@0.25.2/css/angular-calendar.css" rel="stylesheet">

<div class="row no-gutter">
  <div class="col-md-8">
    <app-calendar-header
      [(view)]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="monthChange($event)"
      [locale]="locale">
    </app-calendar-header>
  </div>
  <div class="col-md-4">
    <div class="alert alert-info">
      <strong >当前选中日期: <ng-container *ngIf="clickedDate">{{ clickedDate | date:'yyyy-MM-dd' }}</ng-container></strong>
    </div>
  </div>
</div>

<div *ngIf="datePanelResource && datePanelResource.length">
  <app-calendar-panel-content [viewDate]="viewDate" [locale]="locale" [view]="view" [dateIsBefore]="dateIsBefore" [datePanelResource]="datePanelResource" [(clickedDate)]="clickedDate" (deviceListChange)="deviceListChange.emit($event)" ></app-calendar-panel-content>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>