#chart {
    font-size: 15px;
}

/*面板标题显示字体*/
.boardTextTitle1, .boardTextTitle2, .boardTextTitle3, .boardTextTitle4, .boardTextTitle5 {
    width: 330px;
    height: 20px;
    // margin-left:20px;
    margin-bottom: 15px;
    background-image: url('/assets/sys-state/images/server-icon-g.svg');
    background-repeat:  no-repeat;
    background-size: 20px 20px;
}
.boardTextTitle3, .boardTextTitle4, .boardTextTitle5 {
    margin-left:15px;
}
.boardTextTitle2 {
    background: url('/assets/sys-state/images/server-icon-b.svg');
    background-repeat:  no-repeat;
    background-size: 20px 20px;
} 
.boardTextTitle3{
    background: url('/assets/sys-state/images/server-icon-p.svg');
    background-repeat:  no-repeat;
    background-size: 20px 20px;
} 
.boardTextTitle4{
    background: url('/assets/sys-state/images/server-icon-w.svg');
    background-repeat:  no-repeat;
    background-size: 20px 20px;
} 
.boardTextTitle5{
    background: url('/assets/sys-state/images/server-icon-y.svg');
    background-repeat:  no-repeat;
    background-size: 20px 20px;
}


.divTableTitle {
    width: 120px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    font-family: "微软雅黑";
    color: #ffd1ad;
    margin-left: 30px;
}

#emqLamp1,#emqLamp2,#emqLamp3 {
    top: 1px;
    left: 170px;
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('/assets/sys-state/images/dot-green.svg') no-repeat;
    background-size: 100%;
}
#emqLamp2, #emqLamp3 {
    left: 200px;
    background: url('/assets/sys-state/images/dot-r.svg') no-repeat;
}
#emqLamp3 {
    left: 230px;
}


.key {
    // font-size: 14px;
    color: #01ffff;
}

.value {
    // font-size: 14px;
    color: #ffffff;
}

.unit {    
    // font-size: 14px;
    color: #02e10a;
}
.warning {
    color: #ffee19;
}

.chartBack {
    padding: 10px;
    background: url('/assets/sys-state/images/transparentblock.svg') no-repeat;
}