<div id="chart">
  <div class="{{'boardTextTitle'+index}}">
    <div class="divTableTitle">{{setting.title}}</div>
    <div class="emqLamp1" id="emqLamp1"></div>
    <div id="emqLamp2"></div>
    <div id="emqLamp3"></div>
  </div>
  <div *ngIf="setting.horizontal" class="no-gutters">
    <div class="col-11">
      <div *ngFor="let item of data;let i = index;" class="row no-gutters" style="margin-bottom: 10px;">
        <div class="col-5 text-left key">{{item.key}}&nbsp;</div>
        <div class="col text-left value">{{item.value}}</div>
        <div *ngIf="index == 2" [ngClass]="{'warning': (i != data.length -1) && (i != data.length-3)}" class="col text-left unit">{{item.unit}}</div>
        <div *ngIf="index == 1" [ngClass]="{'warning': (i != data.length -1) && (i != data.length-2) && (i != data.length-3) && (i != data.length-4) && (i != data.length-5)}"
          class="col text-left unit">{{item.unit}}</div>
      </div>
    </div>
    <div>
      <div class="chartBack">
        <div echarts [options]="lineoption" [merge]="updateLineoption" class="demo-chart" style="width: 350px;height: 203px;"></div>
      </div>
    </div>
  </div>
  <div *ngIf="!setting.horizontal" class="d-flex align-items-stretch no-gutters">
    <div class="col-5 d-flex flex-column justiry-content-md-stretch">
      <div *ngFor="let item of data;let i = index;" class="col row no-gutters">
        <div class="col-6 text-left key">{{item.key}}&nbsp;</div>
        <div class="col text-left value">{{item.value}}</div>
        <div [ngClass]="{'warning': (i != data.length -1) && (i != data.length-3) && (i != data.length-4) && (i != data.length-5)}"
          class="col text-left unit">{{item.unit}}</div>
      </div>
    </div>
    <div class="col-7">
      <div class="chartBack">
        <div echarts [options]="lineoption" [merge]="updateLineoption" class="demo-chart" style="width: 350px;height: 203px;"></div>
      </div>
    </div>
  </div>
</div>