<!-- 综合实时显示面板 -->
<div *ngIf="measure" id="singleRealtimePanel" class="card left-panel">
  <div class="card-header">
    <i class="iconfont">&#xe620;</i>
    <span>{{measure.deviceId}}</span>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true" style="color:#fff">×</span>
    </button>
  </div>
  <div class="card-body panel-body">
    <div id="measure-header" class="row">
      <div class="col-md-3">测量参数</div>
      <div class="col-md-3">测量值</div>
      <div class="col-md-3">测量参数</div>
      <div class="col-md-3">测量值</div>
    </div>
    <div id="measure-body">
      <div class="row">
        <div class="col-md-3 measure-key">O2</div>
        <div class="col-md-3 text-center measure-value" *ngIf="measure.pa1 != null">{{measure.pa1}}</div>
        <div class="col-md-3 text-center measure-value" *ngIf="measure.pa1 == null">NaN</div>
        <div class="col-md-3 measure-key">SO2</div>
        <div class="col-md-3 text-center measure-value" *ngIf="measure.pa1 != null">{{measure.pa1}}</div>
        <div class="col-md-3 text-center measure-value" *ngIf="measure.pa1 == null">NaN</div>
      </div>
      <div class="row">
        <div class="col-md-3 measure-key">NO</div>
        <div class="col-md-3 text-center measure-value" *ngIf="measure.pa1 != null">{{measure.pa1}}</div>
        <div class="col-md-3 text-center measure-value" *ngIf="measure.pa1 == null">NaN</div>
        <div class="col-md-3 measure-key">NO2</div>
        <div class="col-md-3 text-center measure-value" *ngIf="measure.pa1 != null">{{measure.pa1}}</div>
        <div class="col-md-3 text-center measure-value" *ngIf="measure.pa1 == null">NaN</div>
      </div>
      <div class="row">
        <div class="col-md-3 measure-key">NOx</div>
        <div class="col-md-3 text-center measure-value" *ngIf="measure.pa1 != null">{{measure.pa1}}</div>
        <div class="col-md-3 text-center measure-value" *ngIf="measure.pa1 == null">NaN</div>
        <div class="col-md-3 measure-key">CO</div>
        <div class="col-md-3 text-center measure-value" *ngIf="measure.pa1 != null">{{measure.pa1}}</div>
        <div class="col-md-3 text-center measure-value" *ngIf="measure.pa1 == null">NaN</div>
      </div>
      <div class="row">
        <div class="col-md-3 measure-key">co2</div>
        <div class="col-md-3 text-center measure-value" *ngIf="measure.pa1 != null">{{measure.pa1}}</div>
        <div class="col-md-3 text-center measure-value" *ngIf="measure.pa1 == null">NaN</div>
        <div class="col-md-3 measure-key">H2S</div>
        <div class="col-md-3 text-center measure-value" *ngIf="measure.pa1 != null">{{measure.pa1}}</div>
        <div class="col-md-3 text-center measure-value" *ngIf="measure.pa1 == null">NaN</div>
      </div>
    </div>
  </div>
</div>