
/* 左侧显示面板 left-panel */
.left-panel {
    border: 1px solid rgb(0, 166, 254);
    // border-radius: 12px;
    margin-top: -1px;
    text-align: center;
    width: 340px;
    color: #fff;
    background: rgba(12,58,104, .9);
    font-size: 12px;
}

#measure-header {
    color: #4bb0e5;
    line-height: 30px;
}

#measure-body {
    // height:150px;
    // padding: 0 30px;

    line-height: 25px;
}
.measure-key{
    color: #2cbcd1;
    margin-bottom: 5px;
    padding-left: 20px;
}
.measure-value{
    color:#fff;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    margin-bottom: 5px;
    background-clip: content-box;
}