<div id="main">
  <div id="canvas-wrapper">
    <canvas id="demo-canvas"></canvas>
  </div>
  <div [ngStyle]="{position: 'absolute', top: '30%', zIndex: 300, width: '100%'}">
    <div id="loginWrap" class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 col-md-offset-4">
          <form (ngSubmit)="onSubmit()" #loginform="ngForm" class="form-horizontal">
            <h2>海纳天鹰</h2>
            <div class="form-group">
                <input type="text" id="username" class="form-control" name="username"
                  placeholder="请输入用户名" required 
                  [(ngModel)]="model.username" #username="ngModel" >
            </div>
            <div class="form-group">
                <input type="password" id="password" class="form-control" name="password"
                  placeholder="请输入密码" required 
                  [(ngModel)]="model.password" #password="ngModel" >
            </div>
            <div class="form-group">
              <span class="alert" [ngStyle]="{color: '#ff0000'}" >{{message}}</span>
            </div>
            <div class="form-group">
              <button type="submit" [disabled]="!loginform.valid" class="btn btn-block btn-info">登录</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>