#main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("../../../assets/img/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    #canvas-wrapper {
        height: 200px;
    }
    #loginWrap {
        z-index: 100;
        h2 {
            text-align: center;
            color:#fff;
            margin-bottom: 50px;
        }
    }
    form {
        width: 320px;
        color: #fff;
        margin: 0 auto;
        z-index: 10;
    }
}

