<!-- panel折叠缩略图 -->
<div id="panel-tips-wrap" [ngClass]="{'active': actived}">
  <div class="toggle-button" style="display: block;" (click)="actived=!actived" ></div>
  <ul class="panel-tips-list">
    <li *ngFor="let icon of icons">
        <a href="javascript:void(0);" style="cursor: default;">
          <img src="{{icon.url}}" alt="">
          <span class="text-center">{{icon.title}}</span>
        </a>
    </li>
    <li>
      <a href="javascript:void(0);" (click)="togglePanel('totalRealtimePanel')" tooltip="综合实时显示面板">
        <img src="/assets/image/totalRealtimePanel.png" alt="">
      </a>
    </li>
    <li>
      <a href="javascript:void(0);" (click)="togglePanel('userPanel')" tooltip="用户情况面板">
        <img src="/assets/image/userPanel.png" alt="">
      </a>
    </li>
    <li>
      <a href="javascript:void(0);" (click)="togglePanel('geogPanel')" tooltip="参数超标面板">
        <img src="/assets/image/geogPanel.png" alt="">
      </a>
    </li>
  </ul>
</div>