/* 右侧panel tips */
#panel-tips-wrap {
    position: absolute;
    left:-80px;
    bottom: 150px;
    background: rgba(0,0,0, .6);
    width: 90px;
    padding-left: 10px;
    padding-bottom: 15px;
    height: 445px;
    animation: all .5s ease;
    @media (max-height: 768px) {
        bottom: 65px;
    }
}
#panel-tips-wrap.active {
    left:0px;
}
.toggle-button {
    width: 10px;
    height: 475px;
    position: absolute;
    top:0;
    right:0;
    background-image: url('/assets/image/back.png');
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center;
    cursor: pointer;
}
.panel-tips-list {
    padding: 0;
}
.panel-tips-list>li {
    list-style: none;
    width: 35px;
    margin: 0 auto;
    margin-top: 15px;
}
.panel-tips-list>li a {
    display: block;
    width: 35px;
    text-decoration: none !important;
    span {
        color: #fff;
        font-size: 11px;
    }
}
.panel-tips-list>li img {
    width: 100%;
    height: auto;
}