.mw800 {
    max-width: 800px !important;
}
.pt50 {
    padding-top: 50px !important;
}

.center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.error-title {
    font-size: 140px;
    font-weight: 800;
    color: #4a89dc;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 20px;
    line-height: 120px;
}
.error-subtitle {
    font-weight: 400;
    text-align: center;
    font-size: 40px;
    color: #AAA;
    margin-bottom: 80px;
}