<app-layout-fluid>
	<div class="h-100" style="background: #eeeeee;">
		<section class="container clearfix">
	        <div class="center-block pt50 mw800">
	          <h1 class="error-title"> 500! </h1>
	          <h2 *ngIf="!errorMsg" class="error-subtitle">Internal Server Error.</h2>
	          <h2 *ngIf="errorMsg" class="error-subtitle">{{errorMsg}}</h2>
	        </div>
	        <div class="mid-section">

	        </div>
      </section>
	</div>
</app-layout-fluid>