<!-- <app-step-steps [instrumentId]="instrumentId" [instruList]="instruList" [count]="count" [pageSize]="pageSize" (refreshChange)="refresh($event)" ></app-step-steps> -->
<app-setp-dialog [instrumentId]="instrumentId" [pageSize]="pageSize" [viewStatus]="viewStatus" [infoObj]="infoObj" (refreshChange)="refresh($event)" ></app-setp-dialog>
<div [ngStyle]="{height:'20px'}" ></div>

<div class="row">
    <div class="col-md-10">
        <ngx-datatable
            class="material"
            [rows]="rows"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="pageSize"
            [selected]="selected"
            [selectionType]="'checkbox'"
            [selectAllRowsOnPage]="false"
            (select)='onSelect($event)'>
            <ngx-datatable-column
              [width]="30"
              [sortable]="false"
              [canAutoResize]="false"
              [draggable]="false"
              [resizeable]="true"
              [headerCheckboxable]="true"
              [checkboxable]="true">
            </ngx-datatable-column>    
            <ngx-datatable-column name="序号" width="20"><ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template><strong>{{rowIndex+1}}</strong></ng-template></ngx-datatable-column>
            <ngx-datatable-column name="工步代码" prop="stepID" [sortable]="false"></ngx-datatable-column>
            <ngx-datatable-column name="工步操作" prop="stepOp" [sortable]="false"></ngx-datatable-column>
            <!-- <ngx-datatable-column name="任务号" prop="taskID" [sortable]="false"></ngx-datatable-column> -->
            <ngx-datatable-column name="测量任务类型" prop="taskStyle" [sortable]="false"></ngx-datatable-column>
            <!-- <ngx-datatable-column name="仪器编号" prop="instID" [sortable]="false"></ngx-datatable-column>
            <ngx-datatable-column name="仪器型号" prop="instModel" [sortable]="false"></ngx-datatable-column>
            <ngx-datatable-column name="日期" prop="date" [sortable]="false"></ngx-datatable-column> -->
            <ngx-datatable-column name="时间" prop="time" [sortable]="false"></ngx-datatable-column>
            <!-- <ngx-datatable-column name="协议版本号" prop="ptVer" [sortable]="false"></ngx-datatable-column>
            <ngx-datatable-column name="仪器程序版本号" prop="pgVer" [sortable]="false"></ngx-datatable-column>
            <ngx-datatable-column name="仪器程序版本号" prop="pgVer" [sortable]="false"></ngx-datatable-column>
            <ngx-datatable-column name="数据包主类型" prop="mainType" [sortable]="false"></ngx-datatable-column>
            <ngx-datatable-column name="数据包流水号" prop="msgSerial" [sortable]="false"></ngx-datatable-column> -->
            <ngx-datatable-column name="地理位置" prop="gps" [sortable]="false"></ngx-datatable-column>
            <!-- <ngx-datatable-column name="测量详情" prop="measures" [sortable]="false">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <button type="button" class="btn btn-primary btn-sm" (click)="openModal(template, value)">详情</button>
                </ng-template>
            </ngx-datatable-column> -->
        </ngx-datatable>
    </div>
    <div class="col-md-2">
        <div class="list-box ">
            <ul class="list-group">
                <li *ngFor="let select of selected" class="list-group-item">选中工步Id: &nbsp;&nbsp;<span class="font-weight-bold">{{select.id}}</span> </li>
            </ul> 
        </div>
    </div>
</div>

<!--  去掉详情所以屏蔽 -->
<!-- <ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{initialState.title}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ul *ngIf="initialState.list.length">
            <li *ngFor="let item of initialState.list">{{item.label}}: {{item.value}} {{item.unit}}</li>
        </ul>
    </div>
</ng-template> -->