<div id="wrap">
  <div id="header">
    <div class="row">
      <div class="col-md-12">
        <img src="/assets/img/logo-green.svg" alt="" id="logo">
      </div>
      <div class="col-md-5">
        <hr />
      </div>
      <div class="col-md-2">
        <div id="logo-title">
          海 纳 天 鹰 环 保 云 监 测 系 统
        </div>
      </div>
      <div class="col-md-5">
        <hr/>
      </div>
    </div>

  </div>
  <div id="main" class="row">
    <div class="col-md-6">
      <div id="wrap1" class="row">
        <div class="col-md-6">
          <div class="carousel1">
            <carousel [showIndicators]="false" [interval]="2500">
              <slide>
                <img src="/assets/img/cloud-platform.jpg" alt="first slide" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img src="/assets/img/info-board.png" alt="second slide" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img src="/assets/img/nbiot.svg" alt="third slide" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img src="/assets/img/taishi.jpg" alt="third slide" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img src="/assets/img/20161130014141791.png" alt="third slide" style="display: block; width: 100%;">
              </slide>
            </carousel>
          </div>
        </div>
        <div class="col-md-6">
          <div class="advert-txt-content">
            <p class="advert-txt-content-info">
              国内首个基于NBIoT网络的环保云监测系统。 具有自主知识产权的环保NBIoT网关，支持多类型环保仪器接入。
              <br> 采用服务化、松耦合、高弹性的SAAS设计模式，支持系统智能扩容。
              <br> 支持百万级终端mqtt等多协议并发连接，兼容多种大数据分析应用手段。
              <br> 支持PC端及移动端多类型用户交互及预警，满足多种用户需求。
              <br>
            </p>
          </div>
        </div>
      </div>
      <div id="wrap2" class="row clearfix">
        <div class="advert-frame-bottom">领先、安全、稳定的云平台</div>
      </div>
    </div>
    <div class="col-md-6">
      <div id="wrap3"  class="w-100 h-100 row">
        <carousel  class="w-100 h-100" [showIndicators]="false" [interval]="2500">
          <slide  class="w-100 h-100">            
              <div class="w-100 h-100" [ngStyle]="{'min-width':'400px','min-height':'300px','background-image':'url(/assets/img/topic-pic1.jpg)', 'background-size':'cover'}" ></div>
            <!-- <img src="/assets/img/topic-pic1.jpg" alt="first slide" style="display: block; width: 100%;"> -->
          </slide>
          <slide>
              <div class="w-100 h-100" [ngStyle]="{'min-width':'400px','min-height':'300px','background-image':'url(/assets/img/background2-01.png)', 'background-size':'cover'}" ></div>
            <!-- <img src="/assets/img/background2-01.png" alt="second slide" style="display: block; width: 100%;"> -->
          </slide>
        </carousel>
      </div>
    </div>
  </div>
  <div id="footer">
    <div id="menu-wrap" class="row">
      <div class="col-md-3" *ngFor="let item of menulist">
        <app-menu-item [item]="item"></app-menu-item>
      </div>
    </div>
  </div>
</div>