#wrap {
    width: 100%;
    min-height: 100%;
    background: linear-gradient(#011B32,#002E5A,#011B32);
    overflow: hidden;
}

#header {
    height: 125px;
    #logo {
        display: block;
        width: 125px;
        height:50px;
        margin: 20px auto;
    }
    #logo-title {
        color: #29abe2;
        font-family: "微软雅黑";
        margin: 0 auto;
        font-size: 18px;
        text-align: center;
    }
    hr {
        border-top:1px solid #29abe2;
    }
}

#main {
    margin-top: 30px;
    height: 412px;
    overflow: hidden;
    #wrap1 {
        height: 343px;
        padding-top: 30px;
        overflow: hidden;
        background: rgba(41,171,226,0.2);      
        .advert-txt-content-info {
            color: #29abe2;
            font-family: "微软雅黑 Light";
            text-align: left;
            margin-right: 30px;
            line-height: 28px;
        }
    }
    #wrap2 {        
        .advert-frame-bottom {
            width: 100%;
            height: 69px;
            line-height: 69px;
            background: #043764;
            color: #F4B821;
            font-size: 21px;
            font-family: "微软雅黑 Light";
            padding-left: 120px;
        }
    }
    .carousel1 {
        width: 322px;
        overflow: hidden;
        margin: 0 auto;
        padding-top: 40px; 
    }
    #wrap3 {
        height: 343px;
        margin-left: -15px;
        margin-right: -15px;
    }
}

#footer {    
    #menu-wrap {
        width: 1220px;
        height: 420px;
        margin: 0 auto;
    }
}