/* You can add global styles to this file, and also import other style files */
// @import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@font-face {
    font-family: 'iconfont';  /* project id 616056 */
    src: url('//at.alicdn.com/t/font_616056_35gg88o70fc.eot');
    src: url('//at.alicdn.com/t/font_616056_35gg88o70fc.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_616056_35gg88o70fc.woff') format('woff'),
    url('//at.alicdn.com/t/font_616056_35gg88o70fc.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_616056_35gg88o70fc.svg#iconfont') format('svg');
  }
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
html, body {
    width: 100%;
    height: 100%;
    // overflow: hidden;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.table-td-nowrap td {    
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    max-width: 300px !important;
}

@mixin clearfix() {
    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }
  
  // Usage as a mixin
  .clearfix {
    @include clearfix;
  }

// ngx-address调整颜色
.ngx-address-title.has {
    color: #ccc !important;
}

//  去掉左下角百度地图logo
.BMap_cpyCtrl {  
    display: none;  
}  
  
.anchorBL {  
    display: none;  
} 

// 强制表格的font-size变小，美观
.font12 {
    font-size: 12px !important;
}

// 强制缩小situation 下的nav-tabs 按钮
.nav-tabs .nav-link {    
    border: 2px solid #29629a;
    border-radius: 0;
    border-top-right-radius: 9px;
}
.nav-link {
    padding: 0 .5rem !important;    
    font-size: 14px;
    margin-left: -2px;
}
.nav-item.active a{
    background-color: #ee9124 !important;
    color: #000000;
}
.nav-item a{
    color:#fff ;
}
.infowindow {
    color:#fff;    
    margin: 25px 10px;
    .infoWindow-list {
        list-style: none;
        padding:0;
        li {
            margin: 10px 0;
            font-size:13px;
            line-height: 25px;
            div:nth-child(odd) {
                text-align: right;
                color: #4bb0e5;
            }
            div:nth-child(even) {
                padding-left: 10px;
                text-align: left;
                color:#fff;
                text-align: center;
                background-color: rgba(0,0,0,.4);
            }
            .infowindowButton {
                font-size: 13px;
                background-color: transparent;
                border:1px solid rgb(0, 166, 254);
                &:hover {
                    background-color: rgba(0, 166, 254, 0.3);
                    a {
                        text-decoration: none;
                    }
                }
                &:last-child {
                    margin-left:-1px;
                }
                align-items: flex-start ;
                background-color: rgba(0, 0, 0, 0);
                border-bottom-color: rgb(0, 166, 254);
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                border-bottom-style: solid;
                border-bottom-width: 1px;
                border-image-outset: 0px;
                border-image-repeat: stretch;
                border-image-slice: 100%;
                border-image-source: none;
                border-image-width: 1;
                border-left-color: rgb(0, 166, 254);
                border-left-style: solid;
                border-left-width: 1px;
                border-right-color: rgb(0, 166, 254);
                border-right-style: solid;
                border-right-width: 1px;
                border-top-color: rgb(0, 166, 254);
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                border-top-style: solid;
                border-top-width: 1px;
                box-sizing: border-box;
                color: rgb(0, 0, 0);
                cursor: pointer;
                display: block;
                font-family: -apple-system,
                BlinkMacSystemFont,
                "Segoe UI",
                Roboto,
                "Helvetica Neue",
                Arial,
                sans-serif,
                "Apple Color Emoji",
                "Segoe UI Emoji",
                "Segoe UI Symbol";
                font-size: 13px;
                font-stretch: 100%;
                font-style: normal;
                font-variant-caps: normal;
                font-variant-east-asian: normal;
                font-variant-ligatures: normal;
                font-variant-numeric: normal;
                font-weight: 400;
                height: 33px;
                letter-spacing: normal;
                line-height: 19.5px;
                list-style-image: none;
                list-style-position: outside;
                list-style-type: none;
                margin-bottom: 0px;
                margin-left: -1px;
                margin-right: 0px;
                margin-top: 0px;
                overflow-x: visible;
                overflow-y: visible;
                padding-bottom: 6px;
                padding-left: 12px;
                padding-right: 12px;
                padding-top: 6px;
                text-align: center;
                text-indent: 0px;
                text-rendering: auto;
                text-shadow: none;
                text-size-adjust: 100%;
                text-transform: none;
                transition-delay: 0s,
                0s,
                0s,
                0s,
                0s;
                transition-duration: 0.15s,
                0.15s,
                0.15s,
                0.15s,
                0.15s;
                transition-property: color,
                background-color,
                border-color,
                box-shadow,
                -webkit-box-shadow;
                transition-timing-function: ease-in-out,
                ease-in-out,
                ease-in-out,
                ease-in-out,
                ease-in-out;
                user-select: none;
                vertical-align: middle;
                white-space: nowrap;
                width: 78px;
                word-spacing: 0px;
                writing-mode: horizontal-tb;
                -webkit-appearance: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                -webkit-border-image: none;
            }
        }
        .divider {
            height: 1px;
            background:#4bb0e5;
            margin: 5px 0;
        }
    }
}

// 恢复百度地图searchInfoWindow默认样式
.BMapLib_SearchInfoWindow tr * {
    box-sizing: content-box !important;
}

// history页面时间搜索框定位
.historydaterange {
    left: 155px !important;
}

.w80 {
    width: 80% !important;
    @media (min-width: 992px) {
        max-width: 1366px !important;
    }
}
.cal-month-view .cal-cell-top {
    height: 55px !important;
    min-height: 55px !important;
}

// 隐藏工步历史全选框
.datatable-header-cell input[type="checkbox"] {
    visibility: hidden;
}

//home页面自适应
#wrap3 {
    .carousel, .carousel-inner, .item {
        height: 100% !important;
    }
}
.v-chart-box {
    @media(max-width: 1800px) {    
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 1750px) {
    .trend-chart {
        order:1 !important;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66666%;
        flex: 0 0 66.66666%;
        max-width: 66.66666%;
    }
    .v-trend-chart {
        order:12 !important;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.situtationTopPanel {
    top: 145px !important;
}