<div class="h-100 w-100">
  <div class="d-flex flex-column w-100 h-100">
    <div id="header" class="col-auto d-flex w-100">
      <div id="header-wrap" class="col">
        <img src="/assets/history/img/sbbs.svg" class="header-logo" alt="">
        <span class="header-title">工步历史查询</span>
      </div>
    </div>
    <div id="main" class="col">
      <app-step-list></app-step-list>
    </div>
  </div>
</div>

<app-switch-menu></app-switch-menu>