<app-layout-fluid>
  <div class="w-100 h-100">
    <baidu-map [options]="opts" (loaded)="loadMap($event)">
      <control type="navigation" [options]="controlOpts"></control>
      <control type="overviewmap" [options]="overviewmapOpts"></control>
      <control type="scale" [options]="scaleOpts"></control>
      <control type="maptype" [options]="mapTypeOpts"></control>
      <ng-container *ngIf="markers && markers.length">
        <marker *ngFor="let marker of markers; let i = index;" [point]="marker.point" [options]="marker.options" (clicked)="showWindow($event, i)"
          (loaded)="loadMarker($event)"></marker>
      </ng-container>
    </baidu-map>
  </div>
</app-layout-fluid>